BODY {
    background-color: #2b2d30;
    margin: auto;
    width: 55%;
    color: white;
}

H1 {
    color: #3ea6ff;
    text-align: left;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal
}

.LARGER {
    font-size: 120%
}

.TINY {
    font-size: 50%
}

H2 {
    color: #440000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

H3 {
    color: #440000;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif
}

UL {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0
}

P {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

FORM {
    color: BLACK;
    /*text-align: left;*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5rem;
}

PRE {
    font-size: 105%;
}

CODE {
    font-size: 105%;
}

.TOC {
    font-size: 90%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}

TH.COLORED {
    background-color: #FFAD00
}

TR.COLORED {
    background-color: #FFAD00
}

TH.TITLE {
    background-color: #EF8429;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.mainTitle {
    text-align: center;
}

.formText {
    display: inline;
    vertical-align: middle;
    padding: .7em 0;
}

.text {
    text-align: center;
    border-style: none;
    border-radius: 12px;
    padding: .7em;
    margin-right: 1rem;
    width: 12em;
    float: right;
}

.button {
    text-align: center;
    background: aquamarine;
    border-style: none;
    border-radius: 12px;
    padding: .7em;
    width: 12em;
    float: right;
}

.button:hover {
    background: #61e1b6;
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
